- var arr = [11,22,33,44,55]
- var mem = {pid : 'aaa', pname:'이효리', age:43}

ul 
    each i in arr 
        li #{i}

ul 
    each i in qqq 
        li #{i}

ul 
    each vv, kk in mem 
        li #{kk} : #{vv}