<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>홈 입니다.</title>
</head>
<body>
    <h1>홈 입니다.</h1>
    <table border="1">
        <tr>
            <td>학기</td>
            <td>종류</td>
            <td>학생</td>
            <td>일자</td>
        </tr>
        {% for st in exam %}
        <tr>
            <td>{{st.hakgi}}</td>
            <td>{{st.name}}</td>
            <td>
                <a href="/detail/{{st.id}}">{{st.pid}}</a>
            </td>
            <td>{{st.reg_date}}</td>
        </tr>
        {% endfor %}
        <tr>
            <td colspan="4">
                <a href="/join">시험등록</a>
            </td>
        </tr>
    </table>
</body>
</html>